@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.modal-content {
  font-family: 'Poppins', sans-serif;
}

.modal-overlay {
  position: fixed;
  inset: 0; /* full screen */
  background: rgba(0, 0, 0, 0.6);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;
}


.modal-content {
  background: #111;
  color: white;
  padding: 30px;
  border-radius: 12px;
  width: 800px;
  max-height: 80vh;
  overflow-y: auto;
  display: flex;
  gap: 30px;
  align-items: flex-start;
}

.modal-content img {
  width: 250px;        /* control size */
  height: auto;        /* keep aspect ratio */
  border-radius: 10px;
}

.movie-details {
  flex: 1;
}


.modal-content {
  position: relative;
}

.close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  background: crimson;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.movie-details h2 {
  margin-bottom: 10px;
}

.movie-details p {
  margin-bottom: 8px;
  line-height: 1.4;
}
