.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 180px);
  gap: 30px;
  justify-content: center;
}



.movie-cards {
  background-color: grey;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer; 
  transition: transform 0.2s ease;
}

.movie-cards:hover {
  transform: scale(1.08);
}


.movie-image {
  width: 100%;
  height: 315px;
  object-fit: cover;
  display: block;
}

.info {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.40);
  color: white;
  padding: 5px 8px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  bottom: 120%;
  right: 0;
  background: #222;
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 12px;
  white-space: nowrap;

  opacity: 0;
  visibility: hidden;
  transform: translateY(5px);
  transition: all 0.2s ease;
}

.info:hover .tooltip {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 10px;
  border-width: 6px;
  border-style: solid;
  border-color: #222 transparent transparent transparent;
}

.info {
  position: absolute;
  bottom: 10px;
  right: 10px;

  background: rgba(0, 0, 0, 0.7);
  padding: 6px 10px;
  border-radius: 20px;

  font-size: 13px;
  font-weight: 600;
  color: white;
}

.fav-button {
  position: absolute;
  top: -275px; 
  left: 10px; 

  background: rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 50%;

  width: 32px;
  height: 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;
  cursor: pointer;

  transition: transform 0.2s ease, background 0.2s ease;
}
