.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}

.movie-cards {
  background-color: grey;
  border-radius: 8px;
  overflow: hidden;
}

.movie-image {
  width: 100%;
  height: 270px;
  object-fit: cover;
  display: block;
}
