.nav-bar {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  background-color: #111;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001;
}

/* Makes search take full available space */
.search-bar {
  flex: 1;
  display: flex;
  justify-content: center;
}

/* Style the actual input */
.search-bar input {
  width: 50%;
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  outline: none;
}

/* Push buttons to right */
.buttons {
  display: flex;
  gap: 15px;
  margin-left: auto;
}

.buttons a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  padding: 6px 12px;
  border-radius:
   20px;
  transition: all 0.2s ease;
}
.buttons a:hover {
  color: #f5c518; /* cinematic gold */
}

.buttons a {
  position: relative;
}

.buttons a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background: #f5c518;
  transition: width 0.3s ease;
}

.buttons a:hover::after {
  width: 100%;
}
